$c-primary: #3b264c;
$c-primary-lightest: rgba($c-primary,.1);
$c-white: #fff;
$c-black: #000;
$c-accent: #ed9b40;

$bs-primary: 0px 0px 33px 0px rgba($c-primary,.2);

$br-md: 10px;

$space-lg: 30px;
$space-md: 20px;
$space-sm: 8px;
